@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prevent white screen on drag */
html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #4a4e69;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  overflow-x: hidden;
}

body {
  touch-action: pan-y;
  overscroll-behavior: none;
}